@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Londrina+Solid:wght@100;300;400;900&family=Press+Start+2P&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@keyframes flotar {
  0% {
    transform: translate(0, -8px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -8px); } }

@keyframes crecer {
  0% {
    transform: scale(2.08, 2.08); }
  50% {
    transform: scale(2, 2); }
  100% {
    transform: scale(2.08, 2.08); } }

/* Amatic SC; Londrina Solid; Press Start 2P ; Rubik; Heebo*/
/* paleta */
/* scroll */
html {
  scroll-behavior: smooth; }

/* configuración general */
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  font-family: 'Rubik'; }

/* icono whatsapp */
.principal .icono-whatsapp {
  position: fixed;
  z-index: 3;
  right: 3vh;
  bottom: 3vh;
  height: 40px;
  width: 40px; }
  .principal .icono-whatsapp a img {
    height: 100%;
    width: 100%;
    transition: 500ms; }
  .principal .icono-whatsapp a:hover img {
    transform: scale(1.08, 1.08); }

/* configuración para páginas que deben ser vistas en toda la pantalla */
body {
  width: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #3c5537, #385531 20px, #2a3d20 20px, #2c3525);
  background-size: 40px 100%; }
  body .cien-vh {
    height: 100vh; }

/* titulos para las secciones */
.principal {
  /* solo la seccion youtube tendrá padding por la superposición de la decoración */ }
  .principal section .titulo {
    padding: 100px 0 30px 0;
    text-align: center;
    font-family: "Londrina Solid";
    color: white;
    text-shadow: 2px 2px 0 #050505;
    font-size: calc(1rem + 2vw);
    text-transform: uppercase; }
  .principal .nosotros {
    padding-top: 25px;
    color: white; }

/* editar el detalle curvo para separar cada sección */
.principal .productos {
  position: relative; }
  .principal .productos .main-decoracion-top {
    width: 100%;
    height: 6%;
    position: absolute;
    top: -5.9%; }
  .principal .productos .main-decoracion-bottom {
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: -7.9%;
    transform: scale(-1, -1); }

.footer {
  /* 
    height: 250px; */
  width: 100%;
  background-color: Black !important;
  position: relative;
  padding: 30px 0 20px 0; }
  .footer .secciones-footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer .secciones-footer ul li a {
      color: white;
      font-size: calc(1em + 0.3vw);
      font-family: 'Amatic SC';
      text-decoration: none; }
  .footer .secciones-footer ul li:hover a {
    color: #3a7658; }
  .footer .footer-decoracion-top {
    position: absolute;
    height: 15%;
    top: -14.5%;
    width: 100%;
    filter: brightness(0); }
  .footer .footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer .footer__logo p {
      font-family: "Londrina Solid";
      font-size: calc(2em + 0.8vw);
      color: white; }
  .footer .pie__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer .pie__info ul li .iconos-pie {
      width: 20px; }
      .footer .pie__info ul li .iconos-pie g {
        fill: white; }
    .footer .pie__info ul li a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      padding: 10px 0 10px 0;
      font-family: 'Amatic SC';
      text-decoration: none;
      color: white;
      font-size: calc(1em + 0.3vw); }
    .footer .pie__info ul li:hover a {
      color: #84a679; }
    .footer .pie__info ul li:hover svg path {
      fill: #84a679; }
  .footer .pie__creditos {
    color: white;
    text-align: center;
    font-size: 0.7em;
    font-weight: 200;
    text-transform: uppercase; }
    .footer .pie__creditos p {
      margin: 0;
      padding: 5px 0 5px 0; }
      .footer .pie__creditos p span {
        text-transform: none;
        font-style: italic; }

/* texto intro */
.inicio {
  position: relative; }
  .inicio .inicio__intro {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 2; }
    .inicio .inicio__intro h1 {
      font-family: "Londrina Solid";
      font-size: calc(2em + 3vw);
      -webkit-text-stroke: 2px white;
      color: transparent; }
    .inicio .inicio__intro h2 {
      font-size: calc(0.2em + 0.6vw);
      font-weight: 500;
      color: white; }
    .inicio .inicio__intro p {
      width: 400px;
      font-weight: 100;
      font-size: calc(0.9em + 0.1vw);
      color: lightgray; }

.carousel-inner {
  background-color: #032107;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231f4c30'/%3E%3Cstop offset='1' stop-color='%231f4c30' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2342702a'/%3E%3Cstop offset='1' stop-color='%2342702a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235e9a53'/%3E%3Cstop offset='1' stop-color='%235e9a53' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23032107'/%3E%3Cstop offset='1' stop-color='%23032107' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233A7658'/%3E%3Cstop offset='1' stop-color='%233A7658' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2381BE4D'/%3E%3Cstop offset='1' stop-color='%2381BE4D' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

.carousel-plantas {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .carousel-plantas .carousel-img--planta {
    grid-area: a1;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .carousel-plantas .carousel-img--planta img {
      width: 30vw;
      animation: flotar 3s infinite;
      filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.63)); }

.carousel-caption h5 {
  font-size: calc(1em + 0.8vw);
  font-family: "Londrina Solid"; }
  .carousel-caption h5 a {
    color: #81be4d;
    text-decoration: none; }

.carousel-caption p {
  font-weight: 100;
  color: lightgray; }

.secciones .secciones__grid {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px;
  grid-template-areas: "a1 a2 a3" "a1 a4 a4";
  justify-content: center;
  justify-items: center;
  row-gap: 30px;
  column-gap: 30px; }
  .secciones .secciones__grid #seccion-1 {
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .secciones .secciones__grid #seccion-1 .productos-enlace {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .secciones .secciones__grid #seccion-1 .productos-enlace p {
        color: white;
        text-shadow: 2px 2px 0 #050505;
        font-size: calc(2em + 2vw);
        text-transform: uppercase;
        font-family: "Londrina Solid";
        transition: 500ms;
        z-index: 2; }
      .secciones .secciones__grid #seccion-1 .productos-enlace img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 bottom;
        border-radius: 20px;
        filter: brightness(0.8);
        transition: 500ms;
        cursor: pointer; }
    .secciones .secciones__grid #seccion-1 .productos-enlace:hover img {
      filter: brightness(0.5); }
  .secciones .secciones__grid #seccion-2 {
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .secciones .secciones__grid #seccion-2 .productos-enlace {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .secciones .secciones__grid #seccion-2 .productos-enlace p {
        color: white;
        text-shadow: 2px 2px 0 #050505;
        font-size: calc(2em + 2vw);
        text-transform: uppercase;
        font-family: "Londrina Solid";
        transition: 500ms;
        z-index: 2; }
      .secciones .secciones__grid #seccion-2 .productos-enlace img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 bottom;
        border-radius: 20px;
        filter: brightness(0.8);
        transition: 500ms;
        cursor: pointer; }
    .secciones .secciones__grid #seccion-2 .productos-enlace:hover img {
      filter: brightness(0.5); }
  .secciones .secciones__grid #seccion-3 {
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .secciones .secciones__grid #seccion-3 .productos-enlace {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .secciones .secciones__grid #seccion-3 .productos-enlace p {
        color: white;
        text-shadow: 2px 2px 0 #050505;
        font-size: calc(2em + 2vw);
        text-transform: uppercase;
        font-family: "Londrina Solid";
        transition: 500ms;
        z-index: 2; }
      .secciones .secciones__grid #seccion-3 .productos-enlace img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 bottom;
        border-radius: 20px;
        filter: brightness(0.8);
        transition: 500ms;
        cursor: pointer; }
    .secciones .secciones__grid #seccion-3 .productos-enlace:hover img {
      filter: brightness(0.5); }
  .secciones .secciones__grid #seccion-4 {
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .secciones .secciones__grid #seccion-4 .productos-enlace {
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .secciones .secciones__grid #seccion-4 .productos-enlace p {
        color: white;
        text-shadow: 2px 2px 0 #050505;
        font-size: calc(2em + 2vw);
        text-transform: uppercase;
        font-family: "Londrina Solid";
        transition: 500ms;
        z-index: 2; }
      .secciones .secciones__grid #seccion-4 .productos-enlace img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 bottom;
        border-radius: 20px;
        filter: brightness(0.8);
        transition: 500ms;
        cursor: pointer; }
    .secciones .secciones__grid #seccion-4 .productos-enlace:hover img {
      filter: brightness(0.5); }

.box-productos {
  /* 
    height: 600px; */
  margin: 30px 0 150px 0;
  box-sizing: initial;
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 500px;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  align-content: center; }
  .box-productos .box {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    position: relative; }
    .box-productos .box .producto__enlace {
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: black;
      text-align: left; }
      .box-productos .box .producto__enlace .box__img-producto {
        height: 70%;
        width: 100%; }
        .box-productos .box .producto__enlace .box__img-producto img {
          transition: 500ms;
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px; }
      .box-productos .box .producto__enlace .box__nombre-producto {
        padding: 15px 0 0 0;
        margin-left: 20px;
        font-weight: 700;
        text-transform: capitalize; }
      .box-productos .box .producto__enlace .box__descrip-producto {
        margin-left: 20px;
        color: green; }
        .box-productos .box .producto__enlace .box__descrip-producto span {
          font-weight: 600; }
        .box-productos .box .producto__enlace .box__descrip-producto .producto__precio {
          font-size: calc(1em + 0.3vw);
          color: black; }
    .box-productos .box .producto__enlace:hover .box__img-producto img {
      filter: brightness(0.8); }
    .box-productos .box .producto__enlace-carrito {
      height: 60px;
      width: 60px;
      background-color: black;
      border-radius: 50%;
      padding: 6px;
      position: absolute;
      bottom: 40%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .box-productos .box .producto__enlace-carrito svg {
        transition: 500ms;
        height: 35px;
        width: 35px; }
        .box-productos .box .producto__enlace-carrito svg .relleno {
          fill: white; }
    .box-productos .box .producto__enlace-carrito:hover svg {
      transform: scale(0.8, 0.8); }

.encabezado-titulo {
  padding: 30px;
  text-align: center;
  color: white;
  font-weight: 100; }
  .encabezado-titulo p a {
    text-decoration: none;
    color: white; }
  .encabezado-titulo p a:hover {
    color: #81be4d; }
  .encabezado-titulo h1 {
    font-family: "Londrina Solid";
    font-size: calc(1rem + 2vw);
    color: white;
    text-shadow: 2px 2px 0 black; }

.box-productos--2cols {
  grid-template-rows: 500px 500px; }

.box-productos--3cols {
  grid-template-rows: 500px 500px 500px; }

.box-productos--4cols {
  grid-template-rows: 500px 500px 500px 500px; }

.preguntas {
  padding: 30px 0 150px 0; }
  .preguntas .tarjetas {
    padding: 30px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 40px 40px 40px; }
    .preguntas .tarjetas img {
      width: 50px; }
  .preguntas .card-header {
    background-color: #22251e; }
  .preguntas .card-titulo {
    color: white; }

.principal-contacto {
  padding: 0 0 30px 0; }
  .principal-contacto .contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 300px 50px 300px;
    grid-template-areas: "a1 a2" "a3 a4" "a5 a4";
    justify-items: center;
    align-items: center;
    text-align: center; }
    .principal-contacto .contenido .contenido__enlaces-redes .tabla {
      display: grid;
      grid-template-columns: 20px 200px;
      grid-template-rows: 20px;
      column-gap: 10px;
      row-gap: 10px;
      justify-items: self-start;
      align-items: center;
      color: white; }
      .principal-contacto .contenido .contenido__enlaces-redes .tabla div {
        display: flex;
        justify-content: center;
        font-size: calc(1em + 0.3vw);
        font-weight: 200; }
        .principal-contacto .contenido .contenido__enlaces-redes .tabla div a {
          text-decoration: none;
          color: white; }
      .principal-contacto .contenido .contenido__enlaces-redes .tabla .contacto-icon {
        height: 20px; }
        .principal-contacto .contenido .contenido__enlaces-redes .tabla .contacto-icon path {
          fill: white; }
    .principal-contacto .contenido .contenido__formulario #form input, .principal-contacto .contenido .contenido__formulario #form #frm-msg {
      padding: 5px 10px;
      width: 250px;
      margin-bottom: 5px;
      border: 1px solid #707070;
      font-size: 13px;
      border-radius: 10px; }
    .principal-contacto .contenido .contenido__formulario #form #frm-msg {
      resize: vertical;
      max-height: 150px; }
    .principal-contacto .contenido .contenido__formulario #form #frm-submit {
      width: 100px;
      border-radius: 10px;
      text-transform: uppercase; }
    .principal-contacto .contenido .contenido__titulo-indicador--1, .principal-contacto .contenido .contenido__titulo-indicador--2 {
      grid-area: a1;
      color: white;
      text-transform: capitalize; }
    .principal-contacto .contenido .contenido__titulo-indicador--2 {
      grid-area: a2; }
    .principal-contacto .contenido .contenido__mapa {
      grid-area: a4;
      width: 100%;
      height: 100%; }
      .principal-contacto .contenido .contenido__mapa #mapa {
        border-radius: 20px; }

.cuidados__grid {
  padding: 30px 0 150px 0;
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  /* 
    grid-template-rows: $consejo-box-row $consejo-box-row; */
  grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;
  align-content: center; }
  .cuidados__grid .cajita-consejo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    box-sizing: content-box;
    padding: 10px; }
    .cuidados__grid .cajita-consejo .cajita-consejo__titulo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .cuidados__grid .cajita-consejo .cajita-consejo__titulo img {
        width: 40px; }
      .cuidados__grid .cajita-consejo .cajita-consejo__titulo h2 {
        text-transform: capitalize;
        margin: 0;
        padding-left: 10px;
        font-size: calc(1.5em + 0.3vw);
        font-weight: 700; }
    .cuidados__grid .cajita-consejo .cajita-consejo__msg {
      margin: 10px;
      background-color: #84a679;
      border-radius: 20px;
      padding: 10px;
      color: white; }
