
$prodct-rows: 500px;
.box-productos{
    margin: 30px 0 $padding-amplio 0;
    box-sizing: initial;

    display: grid;
    
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: $prodct-rows;
    column-gap: $gap;
    row-gap: $gap;
    justify-content: center;
    align-content: center;

    .box{
        background-color: white;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534);
        border-radius: $border-radius;
        position: relative;
        .producto__enlace{
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: black;
            text-align: left;
            
            .box__img-producto{
                height: 70%;
                width: 100%;
                
                img{
                    
                    transition: $time-transition;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
                
                
            }
            .box__nombre-producto{
                padding: 15px 0 0 0;
                margin-left: 20px;
                font-weight: 700;
                text-transform: capitalize;
                font-size: calc(1em + 0.5vw);
            }
            .box__descrip-producto{
                margin-left: 20px;
                color: green;
                font-size: calc(0.8em + 0.5vw);
                span{
                    font-weight: 600;
                }
                .producto__precio{
                    font-size: calc(1em + 0.5vw);
                    color: black;
                }

            }
        }
        .producto__enlace:hover{
            .box__img-producto{
                img{
                    filter: brightness(0.8);
                }
            }
        }
        
        .producto__enlace-carrito{
                height: 60px;
                width: 60px;
                background-color: black;
                border-radius: 50%;
                padding: 6px;

                position: absolute;
                bottom: 40%;
                left: 50%;
                transform: translateX(-50%);

                
                @include flex(row, center, center);
            svg{
                transition: $time-transition;
                height: 35px;
                width: 35px;
                .relleno{
                    fill: white;
                }
            }
        }
        .producto__enlace-carrito:hover{
            svg{
                transform: scale(0.8, 0.8);
            }
        }
    }
}