
.encabezado-titulo{
    padding: $padding-general;
    text-align: center;
    color: white;
    
    font-weight: 100;
    p a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    p a:hover{
        color: $verde-5;
    }
    h1{
        font-family: $Londrina;
        font-size: $letra-titulo;
        color: white;
        text-shadow: 2px 2px 0 rgb(0, 0, 0);
    }
}
.box-productos--2rows{
    grid-template-rows: repeat(2, $prodct-rows);
}
.box-productos--3rows{
    grid-template-rows: repeat(3, $prodct-rows);
}
.box-productos--4rows{
    grid-template-rows: repeat(4, $prodct-rows);
}