$secciones:(
    1: a1,
    2: a2,
    3: a3,
    4: a4
);

.secciones{
    .secciones__grid{
        
        width: 100%;
        padding: $padding-general;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 500px 500px;
        grid-template-areas: "a1 a2 a3"
                             "a1 a4 a4";
        justify-content: center;
        justify-items: center;

        row-gap: 30px;
        column-gap: 30px;

        @each $seccion, $area in $secciones{
            #seccion-#{$seccion}{
                position: relative;
                height: 100%;
                width: 100%;
                grid-area: #{$area};
                
                
                @include flex(column, center, center);
                .productos-enlace{
                    height: 100%;
                    width: 100%;
                    text-decoration: none;

                    @include flex(row, center, center);
                    
                    p{
                        color: white;
                        font-size: calc(2em + 2vw);
                        text-transform: uppercase;
                        font-family: $Londrina;
                        transition: $time-transition;
                        z-index: 2;
                    }
                    img{
                        
                        @include absolute-center();
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: 0 bottom;
                        border-radius: 20px;
                        filter: brightness(0.8);
                        transition: $time-transition;
                        cursor: pointer;
                    }
                }
                .productos-enlace:hover{
                    img{
                        filter: brightness(0.5);
                    }
                }
                
                
                
            }
        }
    }
}