

/* paleta */
$verde-1: #032107;
$verde-2: #235434;
$verde-3: #3a7658;
$verde-4: #84a679;
$verde-5: #81be4d;


$general: white;

$gris: rgb(211, 211, 211);
$rojo: #f24646;
$rojo-oscuro: #d90b0c;

$amarillo: #ffda89;
$lila-oscuro: #ba9df4;

$naranja: #fd4111;

$verde: #81b23f;

$rosa: #fe76a6;

